<div class="card">
    <p-table
        #dt
        [value]="datadatewise"
        [exportHeader]="'customExportHeader'"
        exportFilename="age-displacement-women-upper-limit"
        [columns]="cols"
        selectionMode="multiple"
        [(selection)]="selectedDatalist"
        dataKey="id"
        [rowHover]="true"
        [rows]="10"
        [showCurrentPageReport]="true"
        [rowsPerPageOptions]="[10, 25, 50]"
        [paginator]="true"
        currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
        [filterDelay]="0"
        [globalFilterFields]="['state']"
        styleClass="p-datatable-sm p-datatable-gridlines p-datatable-striped"
    >
        <ng-template pTemplate="caption">
            <div class="table-header" style="font-size: x-large">
                FC-4W : AGE DISPLACEMENT: WOMEN (UPPER LIMIT)
            </div>
            <br />
            <div class="flex">
                <button
                    type="button"
                    pButton
                    pRipple
                    icon="pi pi-file"
                    (click)="dt.exportCSV()"
                    class="mr-2"
                    pTooltip="CSV"
                    tooltipPosition="bottom"
                ></button>
                <button
                    type="button"
                    pButton
                    pRipple
                    icon="pi pi-file-excel"
                    (click)="exportExcel()"
                    class="p-button-success mr-2"
                    pTooltip="XLS"
                    tooltipPosition="bottom"
                ></button>
                <button
                    type="button"
                    pButton
                    pRipple
                    icon="pi pi-file-pdf"
                    (click)="exportPdf()"
                    class="p-button-warning mr-2"
                    pTooltip="PDF"
                    tooltipPosition="bottom"
                ></button>
                <!-- <button type="button" pButton pRipple icon="pi pi-filter" (click)="dt.exportCSV({ selectionOnly: true })" class="p-button-info ml-auto" pTooltip="Selection Only" tooltipPosition="bottom"></button> -->
                <div class="calendar-container" style="padding-left: 500px;padding-right: 3px;">
                    <p-calendar [(ngModel)]="selectedDate" [minDate]="minDate" [maxDate]="maxDate" [readonlyInput]="true" [dateFormat]="'yy-mm-dd'"
                      [monthNavigator]="true" [yearNavigator]="true" [yearRange]="'2000:2030'" placeholder={{this.todaysDate}} (onSelect)="datewise()" [showIcon]="true"></p-calendar>
                  </div>
                <span class="p-input-icon-left ml-auto">
                    <i class="pi pi-search"></i>
                    <input
                        pInputText
                        type="text"
                        (input)="
                            dt.filterGlobal(
                                $any($event.target).value,
                                'contains'
                            )
                        "
                        placeholder="Global Search"
                    />
                </span>
            </div>
        </ng-template>
        <ng-template pTemplate="header">
            <tr styleClass="row-accessories">
                <th
                    pSortableColumn="state"
                    rowspan="2"
                    style="
                        text-align: center;
                        background-color: rgb(245, 241, 241);
                    "
                >
                    <div
                        class="flex justify-content-between align-items-center"
                    >
                        State
                        <p-sortIcon field="state"></p-sortIcon>
                    </div>
                </th>
                <th pSortableColumn="date"  rowspan="2"  style="min-width: 14rem; text-align: center; background-color: rgb(245, 241, 241);" >
                    <div class="flex justify-content-between align-items-center">
                     Date
                     <p-sortIcon field="date"></p-sortIcon>
                   </div> 
                 </th>
                <th
                    colspan="7"
                    class="text-center"
                    style="
                        min-width: 7rem;
                        background-color: rgb(245, 241, 241);
                    "
                >
                Women's age(47 - 53 years)
                </th>
                <th
                    rowspan="2"
                    pSortableColumn="numberOfWomen"
                    style="
                        min-width: 10rem;
                        text-align: center;
                        background-color: rgb(245, 241, 241);
                    "
                >
                    <div
                        class="flex justify-content-between align-items-center"
                    >
                        Number of Women
                        <p-sortIcon field="numberOfWomen"></p-sortIcon>
                    </div>
                </th>
                <th
                    rowspan="2"
                    pSortableColumn="ageRatio"
                    style="
                        min-width: 10rem;
                        text-align: center;
                        background-color: rgb(245, 241, 241);
                    "
                >
                    <div
                        class="flex justify-content-between align-items-center"
                    >
                        Age Ratio
                        <p-sortIcon field="ageRatio"></p-sortIcon>
                    </div>
                </th>
            </tr>

            <tr>
                <th
                    pSortableColumn="age_47"
                    style="
                        min-width: 14rem;
                        text-align: center;
                        background-color: rgb(245, 241, 241);
                    "
                >
                    <div
                        class="flex justify-content-between align-items-center"
                    >
                        47
                        <p-sortIcon field="age_47"></p-sortIcon>
                    </div>
                </th>
                <th
                    pSortableColumn="age_48"
                    style="
                        min-width: 14rem;
                        text-align: center;
                        background-color: rgb(245, 241, 241);
                    "
                >
                    <div
                        class="flex justify-content-between align-items-center"
                    >
                        48
                        <p-sortIcon field="age_48"></p-sortIcon>
                    </div>
                </th>
                <th
                    pSortableColumn="age_49"
                    style="
                        min-width: 10rem;
                        text-align: center;
                        background-color: rgb(245, 241, 241);
                    "
                >
                    <div
                        class="flex justify-content-between align-items-center"
                    >
                        49
                        <p-sortIcon field="age_49"></p-sortIcon>
                    </div>
                </th>
                <th
                    pSortableColumn="age_50"
                    style="
                        min-width: 10rem;
                        text-align: center;
                        background-color: rgb(245, 241, 241);
                    "
                >
                    <div
                        class="flex justify-content-between align-items-center"
                    >
                        50
                        <p-sortIcon field="age_50"></p-sortIcon>
                    </div>
                </th>
                <th
                    pSortableColumn="age_51"
                    style="
                        min-width: 10rem;
                        text-align: center;
                        background-color: rgb(245, 241, 241);
                    "
                >
                    <div
                        class="flex justify-content-between align-items-center"
                    >
                        51
                        <p-sortIcon field="age_51"></p-sortIcon>
                    </div>
                </th>
                <th
                    pSortableColumn="age_52"
                    style="
                        min-width: 10rem;
                        text-align: center;
                        background-color: rgb(245, 241, 241);
                    "
                >
                    <div
                        class="flex justify-content-between align-items-center"
                    >
                        52
                        <p-sortIcon field="age_52"></p-sortIcon>
                    </div>
                </th>
                <th
                    pSortableColumn="age_53"
                    style="
                        min-width: 10rem;
                        text-align: center;
                        background-color: rgb(245, 241, 241);
                    "
                >
                    <div
                        class="flex justify-content-between align-items-center"
                    >
                        53
                        <p-sortIcon field="age_53"></p-sortIcon>
                    </div>
                </th>
            </tr>
            
            <tr  class="p-selectable-row">
                <th style="text-align: center;">
                  <span class="p-column-title"></span>
                India
                </th>
                <th style="text-align: center;">
                    <span class="p-column-title"></span>
                
                  </th>
  
                <th style="text-align: center;">
                  <span class="p-column-title"></span>
                  <!-- {{this.sumRowData.avg1 | number : '.2-2'}}% -->
                  {{calculateSum('age_47')| number : '.2-2'}}
                </th>
                <th style="text-align: center;">
                  <span class="p-column-title"></span>
                  <!-- {{this.sumRowData.avg1 | number : '.2-2'}}% -->
                  {{calculateSum('age_48')| number : '.2-2'}}
                </th>
                <th style="text-align: center;">
                  <span class="p-column-title"></span>
                  <!-- {{this.sumRowData.avg1 | number : '.2-2'}}% -->
                  {{calculateSum('age_49')| number : '.2-2'}}
                </th>
                <th style="text-align: center;">
                  <span class="p-column-title"></span>
                  <!-- {{this.sumRowData.avg1 | number : '.2-2'}}% -->
                  {{calculateSum('age_50')| number : '.2-2'}}
                </th>
                <th style="text-align: center;">
                  <span class="p-column-title"></span>
                  <!-- {{this.sumRowData.avg1 | number : '.2-2'}}% -->
                  {{calculateSum('age_51')| number : '.2-2'}}
                </th>
                <th style="text-align: center;">
                  <span class="p-column-title"></span>
                  <!-- {{this.sumRowData.avg1 | number : '.2-2'}}% -->
                  {{calculateSum('age_52')| number : '.2-2'}}
                </th>
                <th style="text-align: center;">
                  <span class="p-column-title"></span>
                  <!-- {{this.sumRowData.avg1 | number : '.2-2'}}% -->
                  {{calculateSum('age_53')| number : '.2-2'}}
                </th>
                <th style="text-align: center;">
                  <span class="p-column-title"></span>
                  <!-- {{this.sumRowData.avg1 | number : '.2-2'}}% -->
                  {{calculateSum('numberOfWomen')| number : '.2-2'}}
                </th>
                <th style="text-align: center;">
                  <span class="p-column-title"></span>
                  <!-- {{this.sumRowData.avg1 | number : '.2-2'}}% -->
                  {{calculateAverage('ageRatio')||0 | number : '.2-2'}}
                </th>
             
               
              </tr> 
        </ng-template>
        <ng-template pTemplate="body" let-datalist>
            <tr class="p-selectable-row">
                <td style="text-align: center">
                    <span class="p-column-title">Team</span>
                    {{ datalist.state }}
                </td>
                <td style="text-align: center">
                    <span class="p-column-title">Team</span>
                    {{ datalist.date }}
                </td>
                <td style="text-align: center">
                    <span class="p-column-title">visit_1</span>

                    <span class="ml-1 vertical-align-middle">
                        {{ datalist.age_47 }}</span
                    >
                </td>
                <td style="text-align: center">
                    <span class="p-column-title">visit_2</span>

                    <span class="ml-1 vertical-align-middle">
                        {{ datalist.age_48 }}
                    </span>
                </td>
                <td style="text-align: center">
                    <span class="p-column-title">visit_3</span>
                    {{ datalist.age_49 }}
                </td>
                <td style="text-align: center">
                    <span class="p-column-title">Persum</span>
                    {{ datalist.age_50 }}
                </td>
                <td style="text-align: center">
                    <span class="p-column-title">Num</span>
                    {{ datalist.age_51 }}
                </td>
                <td style="text-align: center">
                    <span class="p-column-title">Num</span>
                    {{ datalist.age_52 }}
                </td>
                <td style="text-align: center">
                    <span class="p-column-title">Num</span>
                    {{ datalist.age_53 }}
                </td>

                <td style="text-align: center">
                    <span class="p-column-title">Num</span>
                    {{ datalist.numberOfWomen }}
                </td>
                <td style="text-align: center">
                    <span class="p-column-title">Num</span>
                    {{ datalist.ageRatio }}
                </td>
            </tr>
        </ng-template>
        <ng-template pTemplate="emptymessage">
            <tr>
                <td colspan="11" class="text-center">No Data Available</td>
            </tr>
        </ng-template>
    </p-table>
</div>
